
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }
        header, footer {
            background-color: #0f2c33;
            color: white;
            text-align: center;
            padding: 1em 0;
        }
        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        img {
            max-width: 100%;
            height: auto;
        }
        h1 {
            color: #efa00f;
        }
        h2 {
            color: #533946;
        }
        p {
            line-height: 1.6;
        }
        blockquote {
            font-style: italic;
            margin: 20px 0;
            padding: 10px 20px;
            background-color: #e6d1b4;
            border-left: 5px solid #2e9ca0;
        }
        .comment-section {
            margin-top: 40px;
        }
        .comment-form {
            display: flex;
            flex-direction: column;
        }
        .comment-form textarea {
            margin-bottom: 10px;
            padding: 10px;
            font-size: 16px;
            resize: vertical;
            width: 50%;
        }
        .comment-form button {
            padding: 10px;
            font-size: 16px;
            background-color: #333;
            box-shadow: 0 0 10px rgba(208, 208, 48, 0.59);
            color: white;
            border: none;
            border-radius: 20px;
            margin-left: 20px;
            width: 150px;
            cursor: pointer;
        }
        .comments {
            margin-top: 20px;
        }
        .comment {
            margin-bottom: 20px;
            padding: 10px;
            background-color: #f1f1f1;
            border-left: 5px solid #ccc;
        }
  